#articleFather{
    padding: 2rem;
    background: white;
    color: rgb(78, 74, 75);
    border-radius: 1rem;
}
#articleTitle img{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}
#articleTitle{
    display: flex;
    justify-content: left;
    align-items: center;
}
#articleList{
    list-style: none;
}
#articleList>li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: none;
    margin: 1rem 0;
    padding-bottom: 1rem;
    border-radius: 0rem !important;
    border-bottom: 0.1rem solid rgb(0,0,0,0.05);
    transition: all 0.6s;
}
#articleList>li>div{
    width: 95%;
    display: flex;
    justify-content: left;
    align-items: center;
}
#articleList>li>button{
    width: 5%;
    height: 2rem;
    color: rgb(187, 43, 43);
    background: transparent;
    border: none;
    font-weight: 350;
    display: none;
}
.deleteArticle{
    display: block!important;
}
#articleList>li:hover{
    transform: translateX(-0.5rem);
}
.articleListImgDiv>img{
    width: 100%;
}
.articleListImgDiv{
    overflow: hidden;
    width: 6rem;
    height: 4rem;
    margin-right: 1rem;
    border-radius: 0.3rem;
}
.articleListText{
    height: 4rem;
}
.articleListTime{
    font-size: 0.8rem;
}
#nullImg{
    width: 50%;
}
.articleNullDiv{
    display: none!important;
}
#NullImgDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}