#footFather{
    width: 100%;
    background: white;
    box-shadow: 0 0.5rem 1rem -0.5rem rgba(0, 0, 0, 0.05);
    margin: 2rem 0 0 0;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.05);
    color: rgb(78, 74, 75);
    margin-top: 8rem;
}
#footMsg{
    text-align: center;
    padding: 4rem 0;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.05);
}
#footMsg>div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 700;
}
#footMsg>div>img{
    width: 2.5rem;
    height: 2.5rem;
    margin: 0.5rem;
}
#footFather>p{
    padding: 2rem 0 3rem;
    text-align: center;
    font-weight: 350;
    font-size: 0.9rem;
}
