*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
#detailHead{
    z-index: 999;
    padding: 0 2rem;
    background: white;
    height: 3.5rem;
    box-shadow: 0 0.5rem 1rem -0.5rem rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: left;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}
#detailHead>div{
    display: flex;
    justify-content: left;
    align-items: center;
}
#detailHead img{
    width: 2rem;
    height: 2rem;
}
#detailHead button{
    border: none;
    background: transparent;
    font-size: 0.9rem;
    color: rgb(78, 74, 75);
}
#detailBody{
    width: 72%;
    margin: auto;
    margin-top: 5.5rem;
    padding: 2rem;
    background: white;
    box-shadow: 0 0.5rem 1rem -0.5rem rgba(0, 0, 0, 0.05);
    border-radius: 1rem;
    color: rgb(78, 74, 75);
}
#detailAuthorMsg{
    margin-top: 1rem;
    display: flex;
    justify-content: left;
    align-items: center;
    color: rgb(78, 74, 75);
    font-weight: 350;
    font-size: 0.9rem;
}
#detailAuthorMsgImg{
    width: 2rem!important;
    height: 2rem!important;
    border-radius: 50%;
}
#detailAuthorMsg img{
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}
#detailAuthorMsg>div{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-right: 1rem;
}
#detailAuthorMsg>span{
    background: #f0f6ff;
    color: #4495F6;
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    font-weight: 700;
}
#detailContentText{
    color: rgb(78, 74, 75);
    margin-top: 2rem;
}
#detailContentImg{
    list-style: none;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: center;
}
#detailContentImg>li{
    margin-top: 1rem;
}
#detailContentImg img{
    height: 20rem;
    margin-right: 0.5rem;
}
#detailLikeDiv{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}
#detailLikeDiv img{
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.5rem;
}
#detailLikeDiv>div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}
#detailComment{
    margin: auto;
    margin-top: 2rem;
    padding: 2rem;
    width: 72%;
    background: white;
    color: rgb(78, 74, 75);
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem -0.5rem rgba(0, 0, 0, 0.05);
}
#detailCommentInput{
    margin-top: 1rem;
    text-align: right;
}
#detailCommentInput>textarea{
    width: 100%;
    background: white;
    height: 6rem;
    border: 0.05rem solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 1rem;
}
#detailCommentInput>textarea:focus{
    outline: none;
    border: 0.15rem solid #4495F6;
}
#detailCommentInput>button{
    width: 6rem;
    height: 2.5rem;
    border: none;
    background: #4495F6;
    color: white;
    border-radius: 0.5rem;
    margin-top: 1rem;
    font-size: 1rem;
    transition: all 0.3s;
}
#detailCommentInput>button:hover{
    transform: translateY(-0.05rem);
}
#nullImgDiv{
    text-align: center;
}
#detailCommentList{
    list-style: none;
    margin-top: 2rem;
}
#detailCommentList>li>div,.detailCommentListSon>li{
    margin-bottom: 1rem;
    display: flex;
    justify-content: left;
    color: rgb(78, 74, 75);
    padding-bottom: 1rem;
    border-bottom: 0.05rem solid rgba(0, 0, 0, 0.05);
}
.detailCommentListSon{
    list-style: none;
    margin-left: 3.5rem;
}
.detailCommentImg{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 1rem;
}
.detailUser{
    font-weight: 350;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 0.5rem;
}
.detailUserTime{
    font-size: 0.8rem;
    margin-left: 0.5rem;
}
.detailCommentLike{
    list-style: none;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 0.5rem;
}
.detailCommentLike img{
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}
.detailCommentLike>li{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-right: 1rem;
    font-size: 0.9rem;
}
.detailCommentLike>li>a{
    display: flex;
    justify-content: left;
    align-items: center;
    text-decoration: none;
    color: rgb(78, 74, 75);
}
#detailFooter{
    width: 100%;
    background: white;
    box-shadow: 0 0.5rem 1rem -0.5rem rgba(0, 0, 0, 0.05);
    margin: 2rem 0 0 0;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.05);
    color: rgb(78, 74, 75);
    margin-top: 8rem;
}
#detailFooter>p{
    padding: 2rem 0 3rem;
    text-align: center;
    font-weight: 350;
    font-size: 0.9rem;
}