*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#myIndexFather{
    list-style: none;
}
#myIndexProfile{
    padding-bottom: 0!important;
}
#myIndexFather>li{
    margin: 2rem 0;
    background: white;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem -0.5rem rgba(0, 0, 0, 0.05);
    padding-bottom: 2rem;
}
#myProfile{
    background: white;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem -0.5rem rgba(0, 0, 0, 0.05);
    margin-top: 2rem;
    padding: 2rem;
    color: rgb(78, 74, 75);
}
#myProfileInfo{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: top;
}
#myProfile i{
    display: inline-block;
    width: 48%;
    height: 10rem;
    padding: 1rem;
    background: rgb(255,251,252);
    /* box-shadow: 0 0.5rem 1rem -0.5rem rgba(0, 0, 0, 0.05); */
    border-radius: 1rem;
    font-size: 0.9rem;
    border: 0.05rem solid rgb(181, 174, 175);
}
#myProfileList{
    list-style: none;
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#myProfileList>li{
    display: flex;
    justify-content: left;
    align-items: center;
}
#myProfileList>li>img{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}
#myProfileList>li>p{
    background: rgb(255,251,252);
    width: calc(100% - 2.5rem);
    padding: 0.5rem;
    font-size: 0.9rem;
    font-weight: 350;
    border-radius: 0.5rem;
    border: 0.05rem solid rgb(181, 174, 175);
}
#myIndexFather button{
    width: 100%;
    margin: auto;
    border: none;
    background: transparent;
    color: #4495F6;
}
#myIndexFather button:hover{
    text-decoration: underline;
}