#fansFather{
    padding: 2rem;
    background: white;
    color: rgb(78, 74, 75);
    border-radius: 1rem;
}
#fansTitle img{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}
#fansTitle{
    display: flex;
    justify-content: left;
    align-items: center;
}
#fansList{
    list-style: none;
    margin-top: 1rem;
}
#fansList>li{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 0.1rem solid rgb(0,0,0,0.05);
    padding-bottom: 1rem;
    transition: all 0.6s;
}
#fansList>li:hover{
    transform: translateX(-0.5rem);
}
#fansList>li>img{
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    border-radius: 50%;
}
#fansList>li>div{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}
#fansList>li>div>p{
    font-weight: 350;
}
.followDesc{
    font-size: 0.8rem;
}
#nullImg{
    width: 50%;
}
.articleNullDiv{
    display: none!important;
}
#NullImgDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}