*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.navFather{
    width: 100%;
    background: white;
    padding: 1rem 4rem;
    box-shadow: 0 0.3rem 0.5rem -0.5rem rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navDiv img{
    width: 3.5rem;
    height: 3.5rem;
    transition: all 0.6s;
    margin-right: 1.5rem;
}
.navTransform{
    transform:rotate(-90deg);
}
#navDiv{
    font-weight: 700;
    font-size: 2rem;
    color: rgb(78, 74, 75);
    display: flex;
    align-items: center;
}
#navRight{
    display: flex;
    align-items: center;
}
.navFather #ul{
    display: flex;
}
.navLink{
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.6s;
    border-radius: 1rem;
}
.navLink:hover{
    /* transform: translateY(-0.1rem); */
    color: #3e8af5!important;
}
.navLinkActive{
    border-bottom: none!important;
    background: #f0f6ff;
    font-weight: 700;
    color: #3e8af5!important;
}
#navSerach{
    display: flex;
    align-items: center;
    background: rgb(243, 239, 240);
    height: 2.5rem;
    width: 8rem;
    padding: 0.5rem;
    border-radius: 2rem;
    transform-origin: right center;
    transition: all 0.6s;
}
#navSerach:hover{
    background: rgb(233, 229, 230);
}
#navSerach img{
    width: 1.5rem;
    height: 1.5rem;
}
#navSerach input{
    padding-left: 0.5rem;
    width: 75%;
    height: 2.5rem;
    border: 0.05rem solid rgb(181, 174, 175);
    border-radius: 0.5rem;
    margin-top: 0.2rem;
    border: none;
    background: transparent;
    color: #595557;
}
#navSerach input:focus{
    outline: none;
}
.navSerachTransform{
    width: 18rem !important;
}